<div id="icons">
  <ul>
    <li>
      <div id="sns_icon">
        <a href="https://github.com/yuki3738/" target="_blank">
          <img src="/assets/images/github-logo.png" alt="github logo">
        </a>
      </div>
    </li>

    <li>
      <div id="sns_icon">
        <a href="https://www.facebook.com/yuki.minamiya" target="_blank">
          <img src="/assets/images/facebook-circular-logo.png" alt="facebook logo">
        </a>
      </div>
    </li>

    <li>
      <div id="sns_icon">
        <a href="https://twitter.com/yuki3738" target="_blank">
          <img src="/assets/images/twitter-social-logotype.png" alt="facebook logo">
        </a>
      </div>
    </li>

    <li>
      <div id="sns_icon">
        <a href="https://www.instagram.com/yuki3738/" target="_blank">
          <img src="/assets/images/social-instagram-circle.png" alt="facebook logo">
        </a>
      </div>
    </li>

    <li>
      <div id="hatena_icon">
        <a href="http://www.yuki3738.net/" target="_blank">
          <img src="/assets/images/hatenablog-logo.png" alt="hatena blog logo">
        </a>
      </div>
    </li>
  </ul>
</div>
